@model a.Models.GP_Categories

<h2>Delete Student</h2>

<p>Are you sure you want to delete this record?</p>

<div class="card p-3" style="width:300px;">
    <p><strong>Name:</strong> @Model.GP_Name</p>
    <p><strong>Plate Number:</strong> @Model.GP_PlateNumber </p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GP_Num" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
