@model a.Models.GP_Categories

<h2>Student Information</h2>

<div class="card p-3" style="width: 300px;">
    @if (Model.GP_LoadnRegis != null)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.GP_LoadnRegis)"
             width="250" height="250" style="object-fit:cover;" />
    }

    <p><strong>Name:</strong> @Model.GP_Name</p>
    <p><strong>Address:</strong> @Model.GP_Address</p>
    <p><strong>Department:</strong> @Model.GP_Department </p>
    <p><strong>Vehicle:</strong> @Model.GP_Vehicle</p>

    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
